.reset-password-email-container{
    width: 100%;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
}
.reset-password-email-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    background: linear-gradient(rgb(136, 197, 255), rgb(61, 129, 255));
    justify-content: center;
    text-align: center;
    height: 89vh;
    max-height: fit-content;
}
.form-reset-password-email-wrapper{
    width: 35vw;
    display: flex;
    background: rgb(2, 42, 84);
    flex-direction: column;
    border-radius: 5px;
    min-width: fit-content;
    padding: 4vh 7vh 4vh 7vh;
    -webkit-box-shadow: 0 0 5px 2px #06c0f9;
    -moz-box-shadow: 0 0 5px 2px #06c0f9;
    box-shadow: 0 0 5px 2px #06c0f9;
}
.reset-password-email-input{
    margin-top: 1vh;
    margin-bottom: 3vh;
    height: 5vh;
    font-size: 18px;
    padding:5px;
}
.reset-password-email-button{
    height: 5vh;
    border: none;
    background: rgb(0, 102, 161);
    border-radius: 5px;
    color: aliceblue;
    justify-content: center;
    min-width: fit-content;
    font-size: 16px;
}
.reset-password-email-button:active{
    background: #06c0f9;
    color: black;
}
