.reset-forgot-password-container{
    width: 100%;
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: center;
}
.reset-forgot-password-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 89vh;
    justify-content: center;
    max-height: fit-content;
    background: linear-gradient(rgb(136, 197, 255), rgb(61, 129, 255));
    
}
.form-reset-forgot-password-wrapper{
    background: #FFFFFF;
    padding: 4vh 7vh 4vh 7vh;
    width: 35vw;
    display: flex;
    min-width: fit-content;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 2px #06c0f9;
    -moz-box-shadow: 0 0 5px 2px #06c0f9;
    box-shadow: 0 0 5px 2px #06c0f9;
}
.input-forgot-password{   
    width: 458px;
    display: flex; 
    height: 4.5vh;
    padding: 12px 20px;
    margin-top: -10px;
    flex-direction: row;  
    border: solid 1px gray;
    border-radius: 5px;
    align-items: center;
}
.reset-forgot-password-button{
    height: 5vh;
    border: none;
    margin-top: 2vh;
    background: rgb(0, 102, 161);
    border-radius: 5px;
    color: aliceblue;
    font-size: 16px;
}
.reset-forgot-password-button:active{
    background: #06c0f9;
    color: black;
}
.forgot-password-checklist{
    text-align: left;
    font-size: 11px;
    color: #000;
}
