.update-password-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.update-password-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 11vh;
    background: url('../../../resources/images/background/aero_abstract_background_blue-wallpaper-1920x1200.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    height: 89vh;
    justify-content: center;
    align-items: center;
}
.update-password-password-wrapper{
    width: 35%;
    min-width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    padding: 5vh;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 2px #a7a7a7;
    -moz-box-shadow: 0 0 5px 2px #a7a7a7;
    box-shadow: 0 0 5px 2px #a7a7a7;
}
.input-field-update-password {
    display: flex;
    flex-direction: column;  
    width: 100%;   
    margin-bottom: 2vh;
}
.input-field-update-password input:focus {
    outline: none;
}
.input-field-update-password label {
    text-align: left;
    margin-left: 2vw;
  }
.input-field-update-password input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 16px;
}
.input-login-update-password{   
    width: 95%;
    display: flex; 
    height: 3vh;
    padding: 15px 2.5%;
    margin-top: -10px;
    flex-direction: row;  
    border: solid 1px gray;
    border-radius: 5px;
    align-items: center;
}
.input-login-update-password:focus-within {
    border: 2px solid rgb(0, 110, 255);
}

